* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --color_bordeado: rgba(14, 12, 48, 0.656);
  --color_oscuro:  rgb(90, 81, 124);
  --color_palido:  rgb(180, 195, 223);
  --color_letra: rgb(255,255,255);
}
body {
    margin: 0;
    background-image: url(../img/Background.png);
    background-size: cover;
    background-attachment: fixed;
}

html {
    margin: 0px;
}

.header {
    height: 20%;
    margin: 0px;
    background-color: var(--color_bordeado);
    text-align: center;
}

.logo{
  width: 20%;
}
.box {
    height: 600px;
    border: solid 5px var(--color_bordeado);
    width: 300px; 
    box-shadow: 0px 0px 15px var(--color_oscuro);
    border-radius: 10px;
    padding: 0 0 30px;
    background-color: var(--color_palido);
    display: inline-block;
    margin: 10px; 
    vertical-align: top;
    transition: background-color 0.3s ease;
}
.box:hover{
    background-color: var(--color_oscuro);
    border: solid 5px var(--color_palido);
}
.box:hover .title, 
.box:hover .text {
    color: var(--color_letra); 
}

.box:hover .img {
    filter: drop-shadow(2px 6px 7px var(--color_palido));
}
.img {
    height: 50%;
    display: block;
    margin: 0 auto;
    filter: drop-shadow(2px 6px 7px var(--color_bordeado));
    transition: background-color 0.3s ease;
    
}

.title {
    padding: 8px;
}
.btn{
    background:var(--color_oscuro);
    color: var(--color_letra);
    text-decoration: none;
    display: block;
    padding: 8px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background: var(--color_palido);
    color: var(--color_bordeado);
}